body {
    margin: 0;
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

                  /*navigation panel style*/

.container-for-nav {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.container-for-nav__wrapper {
    width: 100%;
    height: 124px;
    background-color: black;
}
.container-for-nav__wrapper-items {
    width: 1000px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
.container-for-nav__wrapper-links{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 50px;
    color: #969696;
    cursor: pointer;
}
.container-for-nav__wrapper-links>span:nth-child(2) {
    padding: 0 20px;
    border-right: 1px solid  #969696;
}
.container-for-nav__wrapper-links>span:nth-child(3) {
    padding: 0 20px;
margin: 0 10px 0 0;
    border-right: 1px solid  #969696;
}
.container-for-nav__wrapper-links>a {
    text-decoration: none;
    color: #969696;
}
.container-for-nav__wrapper-navigation-brand {
margin: auto 0;
}
.container-for-nav__wrapper-links-container {
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
.container-for-nav__wrapper-navigation {
    padding: 30px 0 30px 30px;
}
.container-for-nav__wrapper-navigation>a {
    padding: 30px 20px;
    text-decoration: none;
    color: #969696;
}
.container-for-nav__wrapper-navigation>i:nth-child(4){
    letter-spacing: 30px;
}
.container-for-nav__wrapper-navigation>i{
    cursor: pointer;
    color: #969696;
}
.container-for-nav__wrapper-navigation>i:hover{
    background-color: #1F1F1F;
    color: white;
    transition-duration: 0.7s;
}
.container-for-nav__wrapper-navigation>a:hover {
    background-color: #1F1F1F;
    color: white;
    transition-duration: 0.7s;
}
.container-for-nav__bcg-color{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.container-for-nav__content {
    width: 320px;
    height: 320px;
    padding: 95px 60px 90px 60px;
    text-align: center;
    border: 4px solid #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.container-for-nav__content > div {
width: 100%;
    height: 100%;
    border-top: 2px solid #FFFFFF;
}
.container-for-nav__content-slogan{
    width: 710px;
    height: 96px;
    text-align: center;
    position: absolute;
   bottom:  10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

                   /*main content style*/

.container-for-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.container-for-main__content-block {
    width: 60%;
    height: 50%;
    position: relative;
    padding: 0 0 0 84px;
    background-color: black;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
}
.container-for-main__content-block > h3 {
    margin:  0 0 30px 0;
}
.container-for-main__content-block > h3::after{
    content: url("img/Line2.png");
    position: absolute;
    right: 42%;
    top: 16px;
}
.container-for-main__content-block-items {
    width: 100%;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.container-for-main__content-block-items > div{
    width: 33%;
    height: 100%;
    margin: 0 25px;
    text-align: left;
    cursor: pointer;
}
.container-for-main__content-block-items > div > h5{
    margin: 20px 0 10px 0;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.container-for-main__content-block-items > div > span{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #D0D0D0;
}
.container-for-main__content-block-items > div > div{
    width: 260px;
    height: 324px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191B1C;
}

.container-for-main__content-block-two{
    width: 40%;
    height: 50%;
    display: flex;
    padding: 0 0 0 80px;
    position: relative;
    background-color: black;
}
.container-for-main__content-block-two > img{
    width: 100%;
    height: 100%;
}
.container-for-main__content-block-two__content {
    position: absolute;
    left: 34%;
    bottom: 24%;
    text-align: center;
}
.container-for-main__content-block-two__content > h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}
.container-for-main__content-block-two__content > h3::after{
    content: url("img/Line2.png");
    position: absolute;
    right: 30%;
    top: 37%;
}
.container-for-main__content-block-two__content > input:nth-child(2) {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'PT Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.container-for-main > div:nth-child(3) {
    padding-top: 50px;
}
.container-for-main > div:nth-child(3) {
    padding: 92px 0 0 0;
}
.container-for-main__content-block-two > img :nth-child(1) {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.container-for-main__content-block > div > h4:nth-child(1) {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}
.container-for-main__content-block > div > h4:nth-child(1)::after {
    content: url("img/Line2.png");
    position: absolute;
    right: 41%;
    top: 27%;
}
.container-for-main__content-block > div:nth-child(1) {
    width: 470px;
    height: 172px;
    margin: 100px auto;
}
.container-for-main__content-block > div > p:nth-child(2) {
    font-family: 'PT Sans' ,sans-serif;
    font-size: 14px;
}
.container-for-main__content-block > div > input:nth-child(3) {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'PT Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.container-for-main-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.container-for-main-content > h4:nth-child(1) {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
text-align: center;
}
.container-for-main-content > h4::after{
    content: url("img/Line2.png");
    position: absolute;
    right: 46%;
    top: 40px;
}
.container-for-main-content__card {
    width: 900px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px auto 0 auto;
}
.container-for-main-content__card > div > div{
    background-color: #191B1C;
}
.container-for-main-content__card > div {
    cursor: pointer;
}


